.log{
    width: 340px;
    height: 420px;
    background-color: #ffee00;
    border-radius: 30px;
    border: 2.5px solid black;
    margin-left: 33%;
    margin-top: 10%;
    transition: 0.5s;
}

.log h1{
    color: black;
    font-size: 3ś0px;
    font-weight: bolder;
    text-align: center;
    padding-top: 15px;
}
input[type=text]
{
    width: 240px;
    border-radius: 8px;
    height:40px;
    margin-top: 3%;
}
input[type=password]
{
    width: 240px;
    border-radius: 8px;
    height:40px;
    margin-top: 3%;
}
.lb1{
    font-size: 18px;
    font-weight: bold;
}
.mnq{
    margin-left: 13%;
    margin-top: 8%;
}
.ln1{
    display: block;
    width: 243px;
    height: 35px;
    margin-top: 12%;
    color: #d4d3c4;
    background-color: black;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid #d4d3c4;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    transition: 0.4s;
}
.ln1:hover{
    transform: scale(1.1);
    background-color:#d4d3c4;
    color: black;
}
.navbar{
    float: right;
    font-family: 'Poppins',sans-serif;
    display: flex;
}
.navbar ul{
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
.navbar ul:hover{
    color: #7f7f78;
}
.btn1{
    color:#000000;
    background: #ffee00;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;text-align: center;
    align-items: center;
    padding-top: 13px;
    font-weight: bolder;
    font-family: 'Poppins',sans-serif;
    margin-top: -10%;
    transition: transform 0.3s;
    text-decoration: none;
    border: 2px solid black;
}
.btn1:hover{
    background: black;
    color:#d4d3c4;
    transform: scale(1.1);
}
.logo{
    font-family: 'Lora', serif;
    
    font-size: 20px;
}
span{
    color: #7f7f78;
    font-family: 'Poppins',sans-serif;
}